* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #30304e;
    color: #fff;
}

header{
    background-color: #CE316E;
    padding: 1rem;
    color: #fff;
}

main{
    padding: 2rem;
}

.posts{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-top: 2rem;
    list-style: none;
}

.post-container{
    cursor: pointer;
}

.post-title-container{
    background-color: #4231CE;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    color: #fff;
}

.post-body-container{
    background-color: #eee;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    color: #000;
}